{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

    <h1> Download Or Upload Questions </h1><br/>

    {% if current_user.role == 'admin' %}
        <div class="shadow-none p-3 mb-5 bg-light rounded">
            <a href="{{ url_for('download_questions')}}" class="btn btn-outline-secondary btn-sm">Download Questions</a>
        </div>
        <hr><br/>
        <div class="shadow-none p-3 mb-5 bg-light rounded">
            <a href="{{ url_for('upload_questions')}}" class="btn btn-outline-secondary btn-sm">Upload Questions</a>
        </div>
        <hr><br/>
    {% endif %}
{% endblock %}

