{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}
    <br>
    <h2> Start Quiz </h2>
    <br>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
         <form method="POST" enctype="multipart/form-data">
              <strong>Click on "Start Quiz" if you wish to take quiz, else click "Back to Home" </strong>
              <br>
              <br/>
              <input type="submit" class="btn btn-secondary" value="Start Quiz">
              <a href="{{url_for("index")}}" class="btn btn-secondary"> Back to Home </a>
         </form>
    </div>
{% endblock %}